@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

* {
  margin: 0px;
  padding: 0px; }

html {
  scroll-behavior: smooth; }

body {
  background-color: #DFD7D7;
  font-size: 16px;
  color: #000;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  padding: 0px;
  margin: 0px; }

@font-face {
  font-family: 'HACKED';
  src: url("fonts/HACKED.woff2") format("woff2"), url("fonts/HACKED.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
.banner {
  background-image: url("img/top_baner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .banner .auto_text {
    max-width: 100%; }
    .banner .auto_text .had_pad {
      padding-top: 10px;
      text-align: center; }
    .banner .auto_text .typewrite {
      font-family: 'Playfair Display', serif;
      text-decoration: none;
      font-size: 18px;
      color: #ffffff; }
  @media (min-width: 300px) {
    .banner .auto_text .typewrite {
      font-size: 16px; } }
  @media (min-width: 600px) {
    .banner .auto_text .typewrite {
      font-size: 18px; } }
  .banner .my_title {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 250px; }
    .banner .my_title .flex_conterl .my_name {
      text-align: center;
      color: #fff; }
      .banner .my_title .flex_conterl .my_name .h1 {
        padding-bottom: 15px;
        font-family: 'Playfair Display', serif;
        font-weight: bolder;
        font-size: 25px; }
      .banner .my_title .flex_conterl .my_name span {
        color: #e31b6d;
        font-family: 'HACKED'; }
    .banner .my_title .flex_conterl .btn_set {
      text-align: center;
      padding-top: 30px; }
      .banner .my_title .flex_conterl .btn_set a {
        text-decoration: none;
        border: 3px solid #ffffff;
        font-size: 18px;
        color: #ffffff;
        padding: 7px 10px 7px 10px;
        transition: all 0.5s; }
        .banner .my_title .flex_conterl .btn_set a .icond {
          display: none; }
        .banner .my_title .flex_conterl .btn_set a .iconr {
          display: inline-block;
          padding-left: 10px; }
      .banner .my_title .flex_conterl .btn_set a:hover {
        background-color: #04c2c9;
        border-color: #04c9d0; }
        .banner .my_title .flex_conterl .btn_set a:hover .icond {
          display: inline-block;
          padding-left: 10px; }
        .banner .my_title .flex_conterl .btn_set a:hover .iconr {
          display: none; }
  @media (min-width: 400px) {
    .banner .my_title {
      padding-top: 60px;
      padding-bottom: 250px; }
      .banner .my_title .flex_conterl .my_name .h1 {
        padding-bottom: 15px; }
      .banner .my_title .flex_conterl .btn_set {
        padding-top: 30px; }
        .banner .my_title .flex_conterl .btn_set a {
          font-size: 20px;
          padding: 15px 20px 15px 20px; } }

@media (min-width: 900px) {
  .banner {
    background-image: url("img/top_baner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
    .banner .auto_text {
      max-height: 100%; }
      .banner .auto_text .had_pad {
        padding-top: 10px;
        text-align: center; }
      .banner .auto_text .typewrite {
        font-family: 'Playfair Display', serif;
        text-decoration: none;
        font-size: 22px;
        color: #ffffff; }
    .banner .my_title {
      display: flex;
      justify-content: center;
      padding-top: 100px;
      padding-bottom: 250px; }
      .banner .my_title .flex_conterl .my_name {
        text-align: center;
        color: #fff; }
        .banner .my_title .flex_conterl .my_name .h1 {
          padding-bottom: 15px;
          font-family: 'Playfair Display', serif;
          font-weight: bolder;
          font-size: 35px; }
        .banner .my_title .flex_conterl .my_name span {
          color: #e31b6d;
          font-family: 'HACKED'; }
      .banner .my_title .flex_conterl .btn_set {
        text-align: center;
        padding-top: 30px; }
        .banner .my_title .flex_conterl .btn_set a {
          text-decoration: none;
          border: 3px solid #ffffff;
          font-size: 20px;
          color: #ffffff;
          padding: 15px 20px 15px 20px;
          transition: all 0.5s; }
          .banner .my_title .flex_conterl .btn_set a .icond {
            display: none; }
          .banner .my_title .flex_conterl .btn_set a .iconr {
            display: inline-block;
            padding-left: 10px; }
        .banner .my_title .flex_conterl .btn_set a:hover {
          background-color: #04c2c9;
          border-color: #04c9d0; }
          .banner .my_title .flex_conterl .btn_set a:hover .icond {
            display: inline-block;
            padding-left: 10px; }
          .banner .my_title .flex_conterl .btn_set a:hover .iconr {
            display: none; } }
header {
  background-color: #1f2235;
  border-bottom: 3px solid #04c2c9; }
  header .sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020; }
  header .navbar-nav .nav-item {
    text-align: center; }
    header .navbar-nav .nav-item .nav-link {
      font-family: 'Playfair Display', serif;
      color: #DFD7D7;
      font-weight: bold;
      font-size: 16px;
      padding-left: 10px;
      padding-right: 10px; }
    header .navbar-nav .nav-item .nav-link:hover {
      color: #ffffff; }
    header .navbar-nav .nav-item .nav-link:focus {
      color: #ffffff; }
    header .navbar-nav .nav-item a.active {
      color: #ffffff; }
    @media (min-width: 769px) {
      header .navbar-nav .nav-item {
        text-align: left; } }

.container .pad_set {
  padding-top: 10px;
  padding-bottom: 10px; }
.container .head-tag {
  text-align: center; }
  .container .head-tag .h1 {
    font-family: 'Playfair Display', serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: bolder;
    padding: 0px;
    margin: 0px; }
.container .underline {
  display: flex;
  justify-content: center; }
  .container .underline .under-line {
    margin-top: 8px;
    width: 50px;
    height: 3px;
    background-color: #e46969; }

@media (min-width: 400px) {
  .container .head-tag {
    text-align: center; }
    .container .head-tag .h1 {
      color: #ffffff;
      font-size: 22px; }
  .container .underline .under-line {
    margin-top: 8px;
    width: 50px;
    height: 3px;
    background-color: #e46969; } }
@media (min-width: 500px) {
  .container .pad_set {
    padding-top: 15px;
    padding-bottom: 20px; }
  .container .head-tag {
    text-align: center; }
    .container .head-tag .h1 {
      color: #ffffff;
      font-size: 30px; }
  .container .underline .under-line {
    margin-top: 8px;
    width: 50px;
    height: 4px; } }
@media (min-width: 800px) {
  .container .pad_set {
    padding-top: 20px;
    padding-bottom: 30px; }
  .container .head-tag {
    text-align: center; }
    .container .head-tag .h1 {
      color: #fff;
      font-size: 50px; }
  .container .underline .under-line {
    margin-top: 10px;
    width: 100px;
    height: 5px; } }
.about {
  padding-top: 40px;
  background-color: #142d4e; }
  .about .text-inner {
    margin-bottom: 60px; }
  .about .inner-box {
    padding-bottom: 50px; }
    .about .inner-box .shrap-control {
      display: flex;
      justify-content: center; }
    .about .inner-box .icon-thum {
      width: 100px;
      height: 100px; }
      .about .inner-box .icon-thum #hexagon {
        text-align: center;
        width: 100px;
        height: 57.735px;
        background: #757cb0;
        position: relative; }
        .about .inner-box .icon-thum #hexagon i {
          font-size: 50px;
          color: #fff; }
      .about .inner-box .icon-thum #hexagon::before {
        content: "";
        position: absolute;
        top: -28.8675px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 28.8675px solid #757cb0; }
      .about .inner-box .icon-thum #hexagon::after {
        content: "";
        position: absolute;
        bottom: -28.8675px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 28.8675px solid #757cb0; }
    .about .inner-box .text-content {
      text-align: center;
      padding-bottom: 40px; }
      .about .inner-box .text-content .h2 {
        font-family: 'Playfair Display', serif;
        font-size: 25px;
        color: #f08585; }
      .about .inner-box .text-content .para {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: #ffffff; }

@media (min-width: 400px) {
  .about {
    padding-top: 40px; }
    .about .text-content {
      text-align: center;
      padding-bottom: 80px; }
      .about .text-content .h2 {
        font-family: 'Playfair Display', serif;
        font-size: 25px;
        color: #bb1212; }
      .about .text-content .para {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: #ffffff; } }
@media (min-width: 800px) {
  .about {
    padding-top: 100px; }
    .about .inner-box .shrap-control {
      display: flex;
      justify-content: center; }
    .about .inner-box .icon-thum {
      width: 100px;
      height: 100px; }
      .about .inner-box .icon-thum #hexagon {
        text-align: center;
        width: 100px;
        height: 57.735px;
        background: #757cb0;
        position: relative; }
        .about .inner-box .icon-thum #hexagon i {
          font-size: 50px;
          color: #fff; }
      .about .inner-box .icon-thum #hexagon::before {
        content: "";
        position: absolute;
        top: -28.8675px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 28.8675px solid #757cb0; }
      .about .inner-box .icon-thum #hexagon::after {
        content: "";
        position: absolute;
        bottom: -28.8675px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 28.8675px solid #757cb0; }
    .about .inner-box .text-content {
      text-align: center;
      padding-bottom: 40px; }
      .about .inner-box .text-content .h2 {
        font-family: 'Playfair Display', serif;
        font-size: 30px;
        color: #f08585;
        padding: 10px 0px 10px 0px; }
      .about .inner-box .text-content .para {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: #ffffff;
        padding: 10px 0px 10px 0px; } }
.about .top-mar {
  padding-top: 0px; }
.about .inner-skill {
  padding-bottom: 50px; }
  .about .inner-skill .in-img {
    width: 100%; }
    .about .inner-skill .in-img .set-img {
      text-align: center; }
      .about .inner-skill .in-img .set-img img {
        width: 100%;
        max-width: 200px; }
  .about .inner-skill .person_skill {
    text-align: center; }
    .about .inner-skill .person_skill .titl {
      font-size: 28px;
      color: #f08585;
      font-family: 'Playfair Display', serif;
      padding-bottom: 20px;
      padding-top: 20px; }
    .about .inner-skill .person_skill .para {
      color: #d6d0d0;
      font-size: 16px; }
    .about .inner-skill .person_skill .brip {
      font-size: 16px;
      font-family: 'Playfair Display', serif; }
      .about .inner-skill .person_skill .brip a {
        text-decoration: none;
        color: #38f19b; }
      .about .inner-skill .person_skill .brip a:hover {
        color: none; }
.about .processsbar {
  margin-bottom: 30px; }

@media (min-width: 800px) {
  .about .top-mar {
    padding-top: 30px; }
  .about .inner-skill {
    padding-bottom: 50px; }
    .about .inner-skill .in-img {
      width: 100%; }
      .about .inner-skill .in-img .set-img {
        text-align: center; }
        .about .inner-skill .in-img .set-img img {
          width: 100%;
          max-width: 200px; }
  .about .processsbar {
    margin-bottom: 30px; } }
.about .my_photo .photo_conterol img {
  width: 100%; }
.about .information .h3 {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  color: #bb2f2f;
  padding-bottom: 16px; }
  .about .information .h3 span {
    color: #fff;
    font-family: 'Playfair Display', serif; }
.about .information .para1 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #ffffff; }
.about .information .para2 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #ffffff; }
.about .font_dev {
  padding-bottom: 100px; }
  .about .font_dev .h2 {
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    color: #ffffff; }
    .about .font_dev .h2 span {
      color: #bb2f2f; }
  .about .font_dev .fpara1, .about .font_dev .fpara2, .about .font_dev .fpara3, .about .font_dev .fpara4, .about .font_dev .fpara5 {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif; }

/* ---------------------- start project section ------*/
.project {
  padding-top: 50px;
  background-color: #202537;
  padding-bottom: 50px; }

/* ------------------------ start blog section ---------*/
.setblur > * {
  filter: blur(1.2px);
  background-image: url("img/blog_bg_img.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.blog {
  padding-top: 60px;
  padding-bottom: 60px;
  filter: blur(0px);
  display: block; }
  .blog .pad_up {
    padding-top: 40px; }
  .blog .inner-box .blog-wrapper {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
    background-color: #eae1e1;
    box-shadow: #757cb0;
    -webkit-transition: background 2s;
    /* For Safari 3.0 to 6.0 */
    transition: background 2s;
    /* For modern browsers */ }
    .blog .inner-box .blog-wrapper .link {
      text-decoration: none;
      color: inherit; }
    .blog .inner-box .blog-wrapper .link:hover {
      color: none; }
    .blog .inner-box .blog-wrapper .blog_img {
      overflow: hidden; }
      .blog .inner-box .blog-wrapper .blog_img img {
        width: 100%;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        height: auto; }
    .blog .inner-box .blog-wrapper .blog_text {
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 15px; }
      .blog .inner-box .blog-wrapper .blog_text .h3 {
        font-family: 'Playfair Display', serif;
        font-size: 20px;
        padding-top: 33px; }
      .blog .inner-box .blog-wrapper .blog_text .date {
        font-family: 'Roboto', sans-serif;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 12px;
        color: #03012f;
        font-weight: bold; }
      .blog .inner-box .blog-wrapper .blog_text .para {
        font-family: 'Roboto', sans-serif;
        padding-top: 20px;
        font-size: 16px;
        color: #000; }
  .blog .inner-box .blog-wrapper:hover {
    background-color: #0000009c;
    overflow: hidden; }
    .blog .inner-box .blog-wrapper:hover .blog_img img {
      -webkit-transform: scale(1.3);
      transform: scale(1.3); }
    .blog .inner-box .blog-wrapper:hover .date {
      color: #00dde2;
      font-weight: bold;
      font-weight: bolder; }
    .blog .inner-box .blog-wrapper:hover .h3, .blog .inner-box .blog-wrapper:hover .para {
      color: #fff;
      font-weight: bolder; }

/* --------------------- start contact section ---------*/
.contact .angel_div {
  padding-top: 300px;
  position: relative;
  background: #303554; }
  .contact .angel_div svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px; }
.contact .question .h4 {
  text-align: center;
  font-size: 18px;
  color: #04c2c9;
  padding-bottom: 50px; }
.contact .contact {
  background-color: #2e2e49;
  padding-bottom: 100px; }
  .contact .contact .warpper-box {
    display: flex;
    justify-content: center; }
    .contact .contact .warpper-box .form_box {
      width: 600px;
      max-width: 100%; }
      .contact .contact .warpper-box .form_box .form-group {
        margin-bottom: 5px; }
      .contact .contact .warpper-box .form_box .text, .contact .contact .warpper-box .form_box .email, .contact .contact .warpper-box .form_box .message {
        background: #292323;
        border: none;
        font-weight: bold;
        font-size: 18px;
        color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px; }
      .contact .contact .warpper-box .form_box .text {
        height: 50px; }
      .contact .contact .warpper-box .form_box .email {
        height: 50px; }
      .contact .contact .warpper-box .form_box .btn-box .btn {
        float: right;
        padding: 11px 31px 10px 27px;
        border: 2px solid #cbc5c5;
        background-color: initial;
        color: #cbc5c5;
        border-radius: 5px;
        font-weight: bolder; }

.footer {
  background-color: #1b242f;
  padding-top: 40px;
  padding-bottom: 40px;
  /* Style the Un-order list by setting its list-style to none */
  /* Style the list items inside the UL list, by setting its width, height and line-height 
    and float them to left and set its border and border-radius.
   */
  /* Style the icons by setting its color and margin-top value to 20px 
  to align it properly */
  /* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
    to icons for glowing effect and use transition property for smooth transition effect. */
  /*facebook*/
  /*twitter*/
  /* instagram */
  /* google */
  /* whatsapp */ }
  .footer .icon {
    display: flex;
    justify-content: center; }
  .footer .wrapper {
    display: flex;
    justify-content: center;
    width: 550px; }
  .footer .wrapper ul {
    list-style: none; }
  .footer .wrapper ul li {
    width: 35px;
    height: 35px;
    margin: 0 8px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid #9cafa4;
    float: left;
    transition: all 0.5s ease; }
  .footer .wrapper ul li .fa {
    font-size: 14px;
    padding-top: 5px;
    color: #D8E2DC;
    transition: all 0.5s ease; }
  .footer .wrapper ul li:hover.facebook {
    border: 5px solid #3b5998;
    box-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease; }
  .footer .wrapper ul li:hover .fa-facebook {
    color: #3b5998;
    text-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease; }
  .footer .wrapper ul li:hover.twitter {
    border: 5px solid #00aced;
    box-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease; }
  .footer .wrapper ul li:hover .fa-twitter {
    color: #00aced;
    text-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease; }
  .footer .wrapper ul li:hover.instagram {
    border: 5px solid #bc2a8d;
    box-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease; }
  .footer .wrapper ul li:hover .fa-instagram {
    color: #bc2a8d;
    text-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease; }
  .footer .wrapper ul li:hover.google {
    border: 5px solid #dd4b39;
    box-shadow: 0 0 15px #dd4b39;
    transition: all 0.5s ease; }
  .footer .wrapper ul li:hover .fa-google {
    color: #dd4b39;
    text-shadow: 0 0 15px #dd4b39;
    transition: all 0.5s ease; }
  .footer .wrapper ul li:hover.whatsapp {
    border: 5px solid #4dc247;
    box-shadow: 0 0 15px #4dc247;
    transition: all 0.5s ease; }
  .footer .wrapper ul li:hover .fa-whatsapp {
    color: #4dc247;
    text-shadow: 0 0 15px #4dc247;
    transition: all 0.5s ease; }
  @media (min-width: 300px) {
    .footer .wrapper ul li {
      width: 40px;
      height: 40px;
      margin: 0 8px; }
    .footer .wrapper ul li .fa {
      font-size: 16px;
      padding-top: 6px; } }
  @media (min-width: 400px) {
    .footer .wrapper ul li {
      width: 45px;
      height: 45px;
      margin: 0 8px; }
    .footer .wrapper ul li .fa {
      font-size: 18px;
      padding-top: 8px; } }
  @media (min-width: 500px) {
    .footer .wrapper ul li {
      width: 50px;
      height: 50px;
      margin: 0 10px; }
    .footer .wrapper ul li .fa {
      font-size: 20px;
      padding-top: 9px; } }
  @media (min-width: 600px) {
    .footer .wrapper ul li {
      width: 55px;
      height: 55px;
      margin: 0 10px; }
    .footer .wrapper ul li .fa {
      font-size: 25px;
      padding-top: 9px; } }
  @media (min-width: 900px) {
    .footer .wrapper ul li {
      width: 60px;
      height: 60px;
      margin: 0 10px; }
    .footer .wrapper ul li .fa {
      font-size: 26px;
      padding-top: 12px; } }
  @media (min-width: 500px) {
    .footer {
      padding-top: 50px; } }

#topcontrol img {
  width: 30px;
  max-width: 100%; }

@media (min-width: 300px) {
  #topcontrol img {
    width: 35px;
    max-width: 100%; } }
@media (min-width: 400px) {
  #topcontrol img {
    width: 40px;
    max-width: 100%; } }
@media (min-width: 500px) {
  #topcontrol img {
    width: 50px;
    max-width: 100%; } }
@media (min-width: 600px) {
  #topcontrol img {
    width: 60px;
    max-width: 100%; } }
@media (min-width: 600px) {
  #topcontrol img {
    width: 65px;
    max-width: 100%; } }
.copyright {
  text-align: center; }
  .copyright a {
    color: #8f9aa7;
    font-size: 12px;
    text-decoration: none; }
    .copyright a span {
      color: #e31b6d;
      font-size: 10px; }

/*# sourceMappingURL=style.css.map */
